<!DOCTYPE html>
<html>
  <head>
    <title>Envios App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap-grid.css">
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap-reboot.css">
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap.css">
    <link rel="stylesheet" href="/dependencies/styles/bootstrap-4.0.0/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

     <!--SCRIPTS-->
     <script src="/dependencies/sails.io.js"></script>
     <script src="/dependencies/js/1-jquery-3.7.1/jquery.js"></script>
     <script src="/dependencies/js/1-jquery-3.7.1/jquery.min.js"></script>
     <script src="/dependencies/js/2-bootstrap-4.0.0/1/bootstrap.js"></script>
     <script src="/dependencies/js/2-bootstrap-4.0.0/1/bootstrap.min.js"></script>
     <script src="/dependencies/js/2-bootstrap-4.0.0/2/bootstrap.bundle.js"></script>
     <script src="/dependencies/js/2-bootstrap-4.0.0/2/bootstrap.bundle.min.js"></script>
     <script src="/js/jp/jp.js"></script>
     <script src="/js/jp/jp.global.js"></script>
     <!--SCRIPTS END-->

  </head>

  <body class="w-100 pl-5 pr-5">
    <%- body %>
  </body>
</html>
