<!DOCTYPE html>
<html>
  <head>
    <title>Envios App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap-grid.css">
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap-reboot.css">
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-4.0.0/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap-4.0.0/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap-4.0.0/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap-4.0.0/bootstrap.js"></script>
    <script src="/js/bootstrap-4.0.0/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1/jquery.js"></script>
    <script src="/js/jquery-3.7.1/jquery.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
