<script src="/js/jp.envios/jp.home.js"></script>

<section class="container panel" id="lista-envios">
  <p>Mi nueva App</p>

    <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col">
          2 of 3
        </div>
        <div class="col">
          3 of 3
        </div>
      </div>

</section>
<section class="container panel oculto" id="nuevo-envio"></section>
<section class="container panel oculto" id="detalle-envio"></section>

<script>
    $(document).ready(function(){
        alert("A punto de cargar init");
        jp.home.init();

    });
</script>

